extends layout

block content
  //- passed into layout.jade when form.jade is rendered
  block content
    h1= title
    form(method="post" action="/create")
      label(for="comment") Case Study Name: 
      input(type="text", name="comment", value=comment)
      label(for="comment") Case Study URL: 
      input(type="text", name="url", value=url)
      input(type="submit", value="Add")
    br
    - for comment in comments
      p= comment.title
      p= comment.url